{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4 col-md-4 bg-success mr-2 text-light p-2 text-center">
      <h4>First col</h4>
    </div>
    <div class="col bg-warning ml-2 text-danger p-2">
      <h4>Second col</h4>
    </div>
  </div>
  <div class="row my-2">
    <div class="col bg-primary mr-2">
      <h4>Third col</h4>
    </div>
    <div class="col bg-danger mx-1">
      <h4>Fourth col</h4>
    </div>
    <div class="col bg-secondary ml-2">
      <h4>Fifth col</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col bg-secondary mr-2">
          <h2> helooo</h2>
        </div>
        <div class="col bg-primary mr-2">
          <h3>example</h3>
        </div>
      </div>
    </div>
    <div class="col bg-warning mr-2">
      <h1> welcome </h1>
    </div>
  </div>
  <div class="row my-2">
    <div class="col bg-warning mx-2">
      <h3>Sample</h3>
    </div>
    <div class="col">
      <div class="row bg-dark text-light my-1">
        <h3>Demo</h3>
      </div>
      <div class="row bg-primary my-1">
        <h3>Paragraph</h3>
      </div>
      <div class="row bg-info my-1">
        <h3>Kiran</h3>
      </div>
    </div>
  </div>

</div>
{% endblock %}