{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4 col-md-4 bg-success mr-2 text-light p-2 text-center">
      <h4>First col</h4>
    </div>
    <div class="col bg-warning ml-2 text-danger p-2">
      <h4>Second col</h4>
    </div>
  </div>
  <div class="row my-2">
    <div class="col bg-primary mr-2">
      <h4>Third col</h4>
    </div>
    <div class="col bg-danger mx-1">
      <h4>Fourth col</h4>
    </div>
    <div class="col bg-secondary ml-2">
      <h4>Fifth col</h4>
    </div>
  </div>
</div>
{% endblock %}